<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生就业分析</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/vue.js}" type="text/javascript"></script>
</head>
<body>
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a target="_top" th:href="@{/index}">首页</a>
    </span>
    <a class="layui-btn layui-btn-small" onclick="location.reload()"
       style="line-height:1.6em;margin-top:3px;float:right" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid" id="vmAnalysisData">
    <div class="layui-col-md12">
        <div class="layui-card" v-if="!showEmpty">
            <div class="layui-card-header">学生就业分析</div>
            <div class="layui-card-body">
                <ul class="layui-row layui-col-space15 layui-this x-admin-carousel x-admin-backlog">
                    <li class="layui-col-md4 layui-col-xs12">
                        <a class="x-admin-backlog-body" href="javascript:">
                            <h3>总人数</h3>
                            <p>
                                <cite v-text="jobData.manCount"></cite>
                            </p>
                        </a>
                    </li>
                    <li class="layui-col-md4 layui-col-xs12">
                        <a class="x-admin-backlog-body" href="javascript:">
                            <h3>男生数量</h3>
                            <p>
                                <cite v-text="jobData.maleCount"></cite>
                            </p>
                        </a>
                    </li>
                    <li class="layui-col-md4 layui-col-xs12">
                        <a class="x-admin-backlog-body" href="javascript:">
                            <h3>女生数量</h3>
                            <p>
                                <cite v-text="jobData.femaleCount"></cite>
                            </p>
                        </a>
                    </li>
                </ul>
                <div class="layui-row layui-col-space20">
                    <div class="layui-col-sm12 layui-col-md12">
                        <div class="layui-card">
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="year" style="width: 1300px;height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space20">
                    <div class="layui-col-sm12 layui-col-md12">
                        <div class="layui-card">
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="afterGraduation" style="width: 1300px;height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space20">
                    <div class="layui-col-sm12 layui-col-md12">
                        <div class="layui-card">
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="yearAfter" style="width: 1300px;height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space20">
                    <div class="layui-col-sm12 layui-col-md12">
                        <div class="layui-card">
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="industryNature" style="width: 1300px;height:600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card" v-else>
            <div class="layui-card-header">学生就业分析</div>
            <div class="layui-card-body" style="font-size: 18px;color: #FFB800">
                无学生就业数据!
            </div>
        </div>
    </div>
</div>
</body>
<script charset="utf-8" th:src="@{/js/echarts.js}" type="text/javascript"></script>
<script type="text/javascript">

    vm = new Vue({
        el: "#vmAnalysisData",
        data: {
            jobData: {},
            showEmpty: false
        },
        created: function () {
            var _this = this;

            $.ajax({
                url: "/job/getAnalysisData",
                dataType: "json",
                type: "get",
                success: function (result) {
                    if (result.code === 200) {
                        _this.jobData = result.data;

                        _this.initAfterGraduation(result.data);
                        _this.initYear(result.data);
                        _this.initIndustryNature(result.data);
                        _this.initYearAfter(result.data);

                    } else if (result.code === 500) {
                        _this.showEmpty = true;
                    }
                }
            });

        }, methods: {
            /**
             * 初始化年份和男女数量echarts图
             * @param analysisData 分析数据
             */
            initYear: function (analysisData) {
                $(function () {
                    // 基于准备好的dom，初始化echarts实例
                    var yearChart = echarts.init(document.getElementById('year'));

                    // 指定图表的配置项和数据
                    var yearPreference = analysisData.yearData;

                    var legendList = [];
                    var maleLegendList = [];
                    var femaleLegendList = [];

                    for (var year in yearPreference) {
                        var manCountArr = yearPreference[year];
                        legendList.push(year);
                        maleLegendList.push(manCountArr[0]);
                        femaleLegendList.push(manCountArr[1]);
                    }

                    // 指定图表的配置项和数据
                    var yearOption = {
                        title: {
                            text: '年度和学生性别数量分析'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['男', '女']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: legendList
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '男',
                                type: 'bar',
                                data: maleLegendList,
                                markPoint: {
                                    data: [
                                        {type: 'max', name: '最大值'},
                                        {type: 'min', name: '最小值'}
                                    ]
                                },
                                markLine: {
                                    data: [
                                        {type: 'average', name: '平均值'}
                                    ]
                                }
                            },
                            {
                                name: '女',
                                type: 'bar',
                                data: femaleLegendList,
                                markPoint: {
                                    data: [
                                        {type: 'max', name: '最大值'},
                                        {type: 'min', name: '最小值'}
                                    ]
                                },
                                markLine: {
                                    data: [
                                        {type: 'average', name: '平均值'}
                                    ]
                                }
                            }
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    yearChart.setOption(yearOption, true);
                });
            },
            /**
             * 初始化毕业去向echarts图
             * @param analysisData 分析数据
             */
            initAfterGraduation: function (analysisData) {
                // 基于准备好的dom，初始化echarts实例

                $(function () {
                    var afterGraduationChart = echarts.init(document.getElementById('afterGraduation'));

                    var seriesDataArray = [];

                    // 指定图表的配置项和数据
                    var afterGraduationData = analysisData.afterGraduationData;

                    var legendList = [];

                    for (var afterGraduation in afterGraduationData) {

                        var seriesData = {};
                        seriesData.value = afterGraduationData[afterGraduation];
                        seriesData.name = afterGraduation;
                        if (seriesData.value > 0) {
                            legendList.push(afterGraduation);
                            seriesDataArray.push(seriesData);
                        }
                    }

                    var afterGraduationOption = {
                        title: {
                            text: '学生毕业去向分析',
                            // subtext: subtext,
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} ({d}%)'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left',
                            data: legendList
                        },
                        series: [
                            {
                                name: '毕业去向',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '50%'],
                                data: seriesDataArray,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    afterGraduationChart.setOption(afterGraduationOption, true);
                });

            }
            ,
            /**
             * 初始化行业性质echarts图
             * @param analysisData 分析数据
             */
            initIndustryNature: function (analysisData) {
                $(function () {

                    // 基于准备好的dom，初始化echarts实例
                    var industryNatureChart = echarts.init(document.getElementById('industryNature'));

                    // 指定图表的配置项和数据
                    var industryNatureList = [];

                    for (var industryNature in analysisData.industryNatureData) {
                        industryNatureList.push(industryNature)
                    }

                    // 指定图表的配置项和数据
                    var industryNatureOption = {
                        title: {
                            text: '性别和行业性质的关系'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['男', '女']
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        toolbox: {},
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: industryNatureList
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: '男',
                                type: 'line',
                                data: analysisData.maleArr
                            },
                            {
                                name: '女',
                                type: 'line',
                                data: analysisData.femaleArr
                            }
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    industryNatureChart.setOption(industryNatureOption, true);

                });
            },
            /**
             * 初始化年度和毕业去向echarts图
             * @param analysisData 分析数据
             */
            initYearAfter: function (analysisData) {
                $(function () {

                    // 基于准备好的dom，初始化echarts实例
                    var yearAfterChart = echarts.init(document.getElementById('yearAfter'));

                    var yearList = [];

                    for (var year in analysisData.yearData) {
                        yearList.push(year)
                    }

                    // 指定图表的配置项和数据
                    var seriesList = [];

                    for (var yearAfter in analysisData.yearAfterData) {

                        var series = {};
                        series.name = yearAfter;
                        series.type = 'line';
                        series.data = analysisData.yearAfterData[yearAfter];
                        seriesList.push(series);

                    }

                    // 指定图表的配置项和数据
                    var yearAfterOption = {
                        title: {
                            text: '年度和毕业去向的关系'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: yearList
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        toolbox: {},
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: analysisData.afterList
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: seriesList
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    yearAfterChart.setOption(yearAfterOption, true);

                });
            }
        }
    });

    layui.use(['form', 'layer'], function () {
    });

</script>
</html>